body {
  margin: 0;
}
.information {
  text-align: center;
  color: red;
}
* {
  font-family: "Montserrat", sans-serif;
}
header {
  /* Закрепляем header */
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  /* _____________ */
  /* display: flex; */
  /* flex-direction: row; */
  justify-content: space-evenly;
  align-items: center;
  color: #000000;
  font-size: 19px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: white;
  margin-top: 0;
  padding: 30px;
  /* try grid */
  display: grid;
  grid-template-areas: "item1 item2 logo item4 item5";
  /* grid-template-columns: auto auto auto auto auto; */
}
header a {
  color: #000000;
  text-decoration: none;
}
header a:visited {
  text-decoration: none;
  color: #000000;
}
.header_item1 {
  grid-area: item1;
}
.header_item2 {
  grid-area: item2;
}
.header_item3 {
  grid-area: logo;
}
.header_item4 {
  grid-area: item4;
}
.header_item1 {
  grid-area: item5;
}

header img {
  width: 300px;
}
/* ________________Первая секция_____________________________ */
.first_section {
  margin-top: 30px;
}
.first_section_img {
  width: 100%;
  padding: 30px;
}
.first_section_container {
  display: grid;
  justify-items: center;
}
.first_section_container_about {
  display: grid;
  grid-template-columns: auto;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  align-content: center;
  gap: 80px;
}
.first_section_container_about_date {
  color: #a0dbdb;
  font-size: 25px;
  line-height: 1.15;
  font-weight: 700;
  text-transform: uppercase;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
.first_section_container_about_motto {
  color: #000000;
  font-size: 25px;
  line-height: 1.15;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.75;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  margin-top: 40px;
}
/* .btn_registration {
  color: #000000;
  font-size: 22px;
  line-height: 1.15;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase; 
  background-color: #a0dbdb;
  border-color: transparent;
  border-style: solid;
  width: 250px;
  height: 70px;
  border-radius: 10px;
  border: none;
  background-color: white;
  color: red;
}
.btn_registration img {
  width: 100%;
}
 .btn_registration:hover {
} */
/* _______________________ */
.second_section {
  color: #000000;
  font-size: 22px;
  line-height: 1.15;
  font-weight: 500;
  padding: 30px;
}
.second_section_sponsors {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  font-weight: 600;
  align-content: center;
  justify-content: left;
  justify-items: center;
}
.second_section_sponsors img {
  width: 200px;
  margin: 20px;
}
/* _______________________ */
/* -----------------------------------ПРОГРАММА----------------------------------------------  */
.scheldule {
  background-color: #a0dbdb;
  padding: 30px;
}
.scheldule span {
  font-weight: bold;
}
.scheldule_title {
  text-align: center;
  margin: 30px;
  font-size: 30px;
  font-weight: 700;
}
/* -------------------------------------- */
#scheldule_22AG,
#scheldule_23AG,
#scheldule_24AG {
  width: 100%;
  display: grid;
  grid-template-columns: 10% 50% 30%;
  grid-gap: 50px;
  align-items: center;
  justify-items: left;
  text-align: left;
  font-size: 20px;
}
.scheldule_dates {
  display: grid;
  grid-template-columns: 10% 10% 10%;
  justify-items: center;
  justify-content: space-evenly;
  margin: 30px;
}
.scheldule_date {
  text-align: center;
  margin: 30px;
  font-size: 20px;
  font-weight: 600;
}
.scheldule_dates button {
  width: 210px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  background-color: #a0dbdb;
}
/* JavaScript Classes */
.notdisplay {
  display: none;
  color: chartreuse;
}

/* .scheldule_date {
  margin: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}
.item_time {
  font-weight: bold;
}
.item span {
  font-weight: 600;
}
.grid_scheldule_day {
  display: grid;
  grid-template-columns: 110px auto;
  column-gap: 30px;
  row-gap: 30px;
} */
/* --------------------------------Программа------------------------------------------------------------ */
/* --------Speakers---------- */
.speakers_header {
  text-align: center;
  margin: 30px;
  font-size: 30px;
  font-weight: 700;
}
.speakers {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
}
.speakers img {
  height: 300px;
}
.speakers_cardcontainer {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  gap: 20px;
  text-align: center;
}
.speakers_fio{
  font-weight: 550;
}
/* ----------------------------- */
.partners {
  margin-top: 200px;
}
.partners_caption {
  text-align: center;
  margin-bottom: 100px;
  font-size: 30px;
}
.link_container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  justify-items: center;
}

.link_container img {
  height: 70px;
}
#link_container_rmc {
  height: 90px;
}
#link_container_pkiro {
  height: 25px;
}
#link_container_vgues {
  height: 30px;
}
#link_container_fppk{
  height: 60px;
}
#minpros {
  height: 50px;
}
footer {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  margin-top: 50px;
  background-color: #000000;
  height: 200px;
  justify-items: center;
  align-items: center;
  align-content: center;
}
footer img {
  width: 50px;
}
footer a {
  color: #ffffff;
  text-decoration: none;
}
footer a:visited {
  color: beige;
}
/* _______________________Медиа запрос до 1300px__________________________________ */
/* @media only screen and (max-width: 1300px) {
  header {
    grid-template-areas: "logo" "item1" "item2" "item4" "item5";
    justify-items: center;
    gap: 10px;
  }
  .first_section {
    margin-top: 170px;
  }
  .first_section_container {
    flex-direction: column;
  }
  .first_section_img {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .first_section_container_about {
    gap: 3vw;
  }
  .first_section_container_about_date {
    color: #a0dbdb;
    font-size: 25px;
  }

  .btn_registration {
    width: 200px;
    border-radius: 1vw;
  }
} */
