* {
  font-family: "Montserrat", sans-serif;
}
header {
  /* Закрепляем header */
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  /* _____________ */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #000000;
  font-size: 19px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: white;
  margin-top: 0;
  /* background-color: antiquewhite; */
  /* font-family: "Montserrat", sans-serif; */
}
header img {
  width: 200px;
}
.first_section_img {
  width: 60%;
  padding: 30px;
}
.first_section_container {
  display: flex;
}
.first_section_container_about {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.first_section_container_about_date {
  color: #a0dbdb;
  font-size: 25px;
  line-height: 1.15;
  font-weight: 700;
  text-transform: uppercase;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
.first_section_container_about_motto {
  color: #000000;
  font-size: 30px;
  line-height: 1.15;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.75;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
.btn_registration {
  color: #000000;
  font-size: 22px;
  line-height: 1.15;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #a0dbdb;
  border-color: transparent;
  border-style: solid;
  width: 220px;
  height: 70px;
  border-radius: 10px;
}
.btn_registration:hover {
  background-color: #69b3b3;
}
/* _______________________ */
.second_section {
  color: #000000;
  font-size: 22px;
  line-height: 1.15;
  font-weight: 500;
  padding: 30px;
}
.second_section_sponsors {
  display: flex;
  align-items: center;
  justify-content: left;
  font-weight: 600;
}
.second_section_sponsors img {
  width: 200px;
  margin: 20px;
}
/* _______________________ */
.scheldule {
  background-color: #a0dbdb;
  padding: 30px;
}
.scheldule_title {
  text-align: center;
  margin: 30px;
  font-size: 30px;
  font-weight: 700;
}
.scheldule_date {
  margin: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}
.item_time {
  font-weight: bold;
}
.item span {
  font-weight: 600;
}
.grid_scheldule_day {
  display: grid;
  grid-template-columns: 110px auto;
  column-gap: 30px;
  row-gap: 30px;
}
.partners {
  margin-top: 200px;
}
.partners_caption {
  text-align: center;
  margin-bottom: 100px;
  font-size: 30px;
}
.link_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link_container img {
  height: 70px;
}
#link_container_rmc {
  height: 90px;
}
#link_container_vgues {
  height: 40px;
}
footer {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  align-items: center;
  background-color: #000000;
  height: 200px;
}
footer img {
  width: 50px;
}
footer a {
  color: #ffffff;
}
footer a:visited {
  color: beige;
}
